@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

body {
    margin-bottom: 50px;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navbar>ul>li {
    float: left;
}

.navbar>ul>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar>ul>li>a:hover {
    background-color: #000000;
}

.column {
    float: left;
    overflow: hidden;
    padding: 0 10px 10px 10px;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

.row h2 {
	text-align: center;
	margin-bottom: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}